* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, Arial;

}

body {
    padding-bottom: 7500px;
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(360deg, rgba(255, 255, 255, 1) 83%, rgba(255, 238, 0, 1) 100%);
}

.second-nav .logo {
    width: 100px;
    margin: 20px 20px;
    cursor: pointer;
}



.second-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 238, 0, 1);
    background-image: linear-gradient(360deg, rgba(255, 238, 0, 1) 0%, rgba(0, 0, 0, 1) 15%);

}


.second-nav ul {
    flex: 1;
    text-align: center;
    
    
}


.second-nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
    transition: 0.5s;
}


.second-nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
}


.second-nav ul li:hover {
    transform: translateY(-5px);
}

.second-nav ul li a:hover {
    color: rgba(255, 238, 0, 1);
}


.czlonkowie-Xi {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    bottom: 0;
    
}

.czlonkowie-Xi .icons {
    position: relative;
    display: flex;  
    align-items: center;
    justify-content: center; 
    padding-bottom: 25px;
}


.czlonkowie-Xi a img {
    position: relative;
    height: 45px;
    width: 45px;
    margin-right: 15px;
    margin: 20px;
    transition: opacity 0.3s;
}

.czlonkowie-Xi a img:hover {
    opacity: 0.3;
}

.czlonkowie-Xi h3 {
    text-align: center; 
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}


.czlonkowie-Xi p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
}

.czlonkowie-Xi img {
    width: 450px;
    height: 450px;
    display: block;
    margin: 0px auto;
    border-radius: 15px;
}

.second-text {
    position: relative;
    margin-top: 50px;
}


.second-text h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    font-size: 25px;
}


