* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif, Arial;

}

body {
    padding-bottom: 100px;
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(360deg, rgba(255, 255, 255, 1) 83%, rgba(255, 238, 0, 1) 100%);
}

.third-nav .logo{
    width: 100px;
    margin: 20px 20px;
    cursor: pointer;
}


.third-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 238, 0, 1);
    background-image: linear-gradient(360deg, rgba(255, 238, 0, 1) 0%, rgba(0, 0, 0, 1) 15%);

}

.third-nav ul {
    flex: 1;
    text-align: center;
}

.third-nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
    transition: 0.5s;
}


.third-nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
}

.third-nav ul li:hover {
    transform: translateY(-5px);
}


.third-nav ul li a:hover {
    color: rgba(255, 238, 0, 1);
}


.title {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.title h1 {
    text-align: center;
    display: inline-block;
    font-size: 60px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    transition: 0.5s;
    
}

.title h1:hover {
    color: rgb(124, 124, 124);
}


.main-photo {
    position: absolute;
    top: 50%;
    left: 50.5%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    flex: 1;

}


.main-photo img {
    border-radius: 15px;
    border: 2px solid #333;
    display: inline-block;

}

.main-text {
    text-align: left;
    margin-top: 27%;
    max-width: 700px;
    margin-left: 32%;
   
}

.main-text p {
    letter-spacing: 1px;
    color: #333;
    font-weight: bold;
}



